<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="el : ${post}">
  <div style="display: flex; flex-direction: row">
    <label for="title" style="margin-right: 10px">Название статьи:</label>
    <h3 id="title" th:text="${el.title}" style="margin: 0px"></h3>
  </div>

  <div style="display: flex; flex-direction: row">
    <label for="anons" style="margin-right: 10px">Анонс:</label>
    <p id="anons" th:text="${el.anons}" style="margin: 0px"></p>
  </div>

  <div style="display: flex; flex-direction: row">
    <label for="full_text" style="margin-right: 10px">Текст статьи:</label>
    <p id="full_text" th:text="${el.full_text}" style="margin: 0px"></p>
  </div>

  <a th:href="'/blog/' + ${el.id} + '/edit'">Рекдактировато</a>

  <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
    <button type="submit" class="btn btn-del">Удалить</button>
  </form>
  <p>===============</p>

</div>

</body>
</html>