<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div style="display: flex; flex-direction: column; width: 200px">
        <input type="text" name="nick" placeholder="Никнейм">
        <button formaction="/blog/filter/profile" formmethod="post" type="submit">Неточный поиск</button>
        <button formaction="/blog/filter/profiles" formmethod="post"  type="submit">Точный поиск</button>
    </div>



    <div th:each="el : ${results}">
        <div style="display: flex; flex-direction: row">
            <label for="nick" style="margin-right: 10px">Никнейм:</label>
            <p id='nick' th:text="${el.nick}" style="margin: 0px; font-weight: bold"></p>
        </div>
        <div style="display: flex; flex-direction: row">
            <label for="name" style="margin-right: 10px" >Имя:</label>
            <p id='name' th:text="${el.name}" style="margin: 0px"></p>
        </div>

        <div style="display: flex; flex-direction: row">
            <label for="surname" style="margin-right: 10px">Фамилия:</label>
            <p id='surname' th:text="${el.surname}" style="margin: 0px"></p>
        </div>

        <div style="display: flex; flex-direction: row">
            <label for="ab" style="margin-right: 10px" >Отчество:</label>
            <p id='ab' th:text="${el.about_me}" style="margin: 0px"></p>
        </div>

        <div style="display: flex; flex-direction: row">
            <label for="age" style="margin-right: 10px" >Возраст:</label>
            <p id='age' th:text="${el.age}" style="margin: 0px"></p>
        </div>

        <p>===================</p>
    </div>

    <!--    <div th:each="el : ${result}">-->
    <!--        <h3 th:text="${el.title}"></h3>-->
    <!--        <p th:text="${el.anons}"></p>-->
    <!--        <strong th:text="${el.full_text}"></strong>-->
    <!--    </div>-->
</form>
</body>
</html>